@import url('https://fonts.googleapis.com');

img {
	width: 300px;
	height: 300px;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #152937;
	color: #F9FAF8;
	padding: 20px;
}

.list-1 {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	gap: 20px;
}

.list-1 a {
	text-decoration: none;
	color: white;
}

.logo {
	font-weight: bold;
	font-size: 24px;
}

.hero {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 35px;
	background-color: #152937;
	color: #F9FAF8;
}

.hero-left {
	width: 50%;
}

.hero-right {
	width: 40%;
	text-align: right;
}

.hero-right img {
	width: 100%;
	height: auto;
}

.hero-header {
	font-size: 48px;
	font-weight: 900;
}

.hero-text {
	font-size: 18px;
	color: #E5E7EB;
}

.hero-button {
	background-color: #3882F6;
	color: #E5E7EB;
	padding: 10px;
	border-radius: 12px;
	width: 150px;
	border-style: none;
	font-size: 15px;
	font-weight: bold;
}

.info {
	margin-top: 40px;
	text-align: center;
	padding-bottom: 60px;
}

.info-pics {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-top: 30px;
}

.info-text {
	color: gray;
}

.info-pics img {
	border-radius: 15px;
	border: 5px solid #3882F6;
}

.quote {
	padding: 200px;
	background-color: #E5E7EB;
	color: #1f2937;
}

.quote-text {
	text-align: justify;
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
}

.quote-author {
	text-align: right;
	font-size: 18px;
	font-weight: bold;
}

.action {
	background-color: #3882F6;
	color: #E5E7EB;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 80px;
	margin: 80px auto;
	max-width: 1100px;
}

.action-header {
	font-size: 24px;
	font-weight: bold;
}

.action-text {
	opacity: 0.9;
	margin-top: 5px;
}

.action-signup {
	background: transparent;
	color: white;
	border: 2px solid white;
	padding: 10px 30px;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
}

.footer {
	padding: 50px;
	background-color: #152937;
	color: #E5E7EB;
	text-align: center;
}